<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target-platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2020-03"/>
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://tinylog.org/p2-repository/2.1.1"/>
			<unit id="org.tinylog.api" version="0.0.0"/>
			<unit id="org.tinylog.impl" version="0.0.0"/>
		</location>
	</locations>
</target>